@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Luxurious+Roman&display=swap");

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Aladin", serif;
    font-weight: 500;
}

* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
    display: block;

    margin: 0 auto;
}

.header1 {
    background-color: #1d8a99;
    padding: 5px 0;
    display: block;
}

.header-text {
    font-size: 1rem;
    text-align: center;
    margin-left: 70px;
}

.header-text p {
    margin-top: 0;
    color: #f7f7ff;
    text-shadow: 1px 2px 3px #0b0014;
}

.header-text h1 {
    margin-bottom: 0;
    text-shadow: 2px 2px 3px #f7f7ff;
}

.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    background-color: #1d8b995e;
}

.reserv-slide {
    width: 50%;
}

.slides-header {
    text-align: center;
}

.slides-header h2 {
    font-size: 2rem;
    margin-bottom: 0;
    text-shadow: 1px 2px 3px #f7f7ff;
}

.slides-header p {
    font-size: 1.5rem;
    margin-top: 0;
    text-shadow: 1px 1px 1px #ec0b43;
    color: #0b0014;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: #0b00144f;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 20px;
    }
}

/* ****sticky navbar****** */

#navbar {
    overflow: visible;
    background-color: #ec0b43;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #f7f7ff;
    justify-content: space-between;
    padding: 15px 50px 15px 50px;
}

#navbar a {
    float: left;
    display: block;
    color: #f7f7ff;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 30px;
    transition: 0.5s;
    font-size: clamp(1.4rem, 2vmin, 1.5rem);
}

#navbar a:hover {
    background-color: #f7f7ff;
    color: black;
    border-radius: 8px;
    text-shadow: 2px 2px 5px #0b0014;
}

#navbar a.active {
    background-color: #04aa6d;
    color: white;
}
.navigation {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
    display: none;
}

.navigation a.ham::before {
    content: "🍔 ";
}

.content {
    padding: 16px;
}

.responsive li {
    display: block;
}

.responsive a.ham::before {
    content: "❌ ";
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

/**** Hoverable Dropdown**** */
.social {
    margin-right: 80px;
    text-decoration: none;
    align-items: center;
}

.social img {
    width: 45px;
    height: auto;
}

.social img:hover {
    width: 60px;
    height: auto;
}

/***** Date now section***** */
.date-now {
    grid-row: 3;
    border: 1px solid rgb(233, 193, 193);
    background-color: #1d8b995e;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    justify-content: space-around;
}

.date {
    font-size: 1em;
    color: #0b0014;
}

#weather {
    display: flex;
}

.logo-box {
    align-items: center;
    margin-left: 2.5rem;
    width: 85px;
}

.logo-box img {
    width: 150px;
    height: auto;
}

.amenities {
    width: 80%;
    border-radius: 25px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 1px;
}

.amenities h2 {
    text-align: center;
    color: #0b0014;
    font-size: 2rem;
}

.amenities-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.amenities-content ul li {
    justify-content: space-between;
    width: 100%;
}

.amenities-content ul li img {
    display: block;
}

.info {
    display: block;
    background-color: #ec0b433a;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    margin-top: 50px;
    border-radius: 50px;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #1d8a99;
}

.info:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1d8b992d;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    margin-top: 50px;
    border-radius: 50px;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #ec0b43;
}

.address {
    color: #1d8a99;
    font-size: 1.2rem;

    padding-right: 100px;
}
.address a {
    text-decoration: none;
    color: #1d8a99;
}

.address a:hover {
    text-decoration: underline;
}

.reserve {
    color: #1d8a99;
    font-size: 1.2rem;
}

.reserve a {
    text-decoration: none;
    color: #0b0014;
}

.reserve .phoneNumber {
    margin-right: 20px;
}

.reserve a:hover {
    text-decoration: underline;
}

.overview {
    margin: 0 auto;
    inline-size: 90%;
}

.overview h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
}

.overview p {
    font-size: 1.2rem;
}

.temple {
    display: block;
    margin: 0 auto;
    width: 90%;
    margin: 60px;
}
.temple a {
    text-decoration: none;
    color: #1d8a99;
}

.ghana {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
}

.btn button {
    background-color: #1d8b99d3;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    color: #f2f2f2;
    border: none;
}

.btn button:hover {
    background-color: #ec0b43cc;
}

.alaska {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
}

.apia {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
}

/*********************** footer *********************/
footer {
    width: 100%;
    color: #f2f2f2;
}

.footer1 {
    display: inline-block;

    align-items: center;
    background-color: #0b0014;
    border-bottom: 1px solid #f2f2f2;
    padding: 30px;
    padding-left: 90px;
    width: 100%;
}

.footer2 {
    padding: 1px;
    background-color: #0b0014dc;
}

.footer2 p {
    text-align: center;
}

/******************** temple page ******************************************/

.temple-grid {
    max-width: 80%;
    margin: 20px auto;
}
.temple-grid h1 {
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}

.cards section {
    background-color: #91f3e677;
    margin: 10px;
    box-shadow: 0 0 10px #777;
    padding: 10px;
}

.cards h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1a1f23;
    margin-bottom: 0;
}

.cards img {
    margin: 1rem 0;
    width: auto;
    max-width: 320px;
    border: 1px solid rgba(51, 51, 51, 0.041);
}

.cards section > p {
    min-height: 10px;
    margin-bottom: 0;
}

/************************ reservation page ***************************/
.banner img {
    width: 100%;
}

.banner h1 {
    position: absolute;
    color: #029cb1;
    text-align: center;
    width: 100%;
    left: 0px;
    font-size: 1.5rem;
    text-shadow: 2px 2px #0b0014;
}

.reserv-form {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}

.reserv-form fieldset {
    box-shadow: 0 0 10px #777;
    margin-left: 0;
}

.reserv-form label {
    display: block;
    padding-top: 1rem;
    color: #1a1f23;
    font-size: 1rem;
}

legend {
    font-size: 1.3rem;
    color: #ec0b43;
}
.reserv-form input {
    display: block;
    padding: 0.7rem;
    color: #1a1f23;
    font-size: 0.8rem;
    border: 1px solid #1a1f23;
    border-radius: 5px;
    color: #1a1f23;
    width: 90%;
    max-width: 19rem;
    background-color: rgba(238, 237, 237, 0.568);
}

.reserv-form .submitBtn {
    border: none;
    background-color: rgb(6, 168, 6);
    border-radius: 15px;
    padding: 0.7rem 0.7rem;
    margin: 10px 1rem 1rem 1rem;
    width: 90%;
    max-width: 19rem;
    color: #ffffff;
    font-size: 1rem;
}

.reserv-form .submitBtn:hover {
    background-color: rgb(106, 243, 106);
    color: #1a1f23;
}

.reserv-form input:required {
    border-left: red solid 5px;
}

.reserv-form input:required:valid {
    border-left: green solid 5px;
}

#txtid {
    height: 100px;
    width: 90%;
    max-width: 29rem;
}

/******************* Services page ********************/
.service-div {
    max-width: 950px;
    margin: 40px auto;
}

.service-div h1 {
    text-align: center;
}

.service-div p {
    font-size: 1.3rem;
}

.special-services {
    margin-top: 30px;
}

.services-ameni {
    margin-top: 50px;
}

.services-ameni li {
    margin: 0;
    padding: 0;
    line-height: 10px;
}

.sub-pages {
    margin-top: 50px;
    background-color: #ec0b4338;
    padding: 20px;
    border-radius: 10px;
    color: #0b0014;
    font-size: 1.1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-pages a {
    text-decoration: none;
    color: #029cb1;
}

.sub-pages a:hover {
    text-decoration: underline;
}
